<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.markerhub.mapper.SysCourseMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.markerhub.entity.SysCourseEntity" id="sysCourseMap">
        <result property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="name" column="name"/>
        <result property="teacherId" column="teacher_id"/>
        <result property="classId" column="class_id"/>
        <result property="year" column="year"/>
        <result property="semester" column="semester"/>
        <result property="statu" column="statu"/>
        <result property="courseStatu" column="course_statu"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
    </resultMap>
    <resultMap id="courseVOMap" type="com.markerhub.entity.vo.CourseVO">
        <result property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="name" column="name"/>
        <result property="year" column="year"/>
        <result property="semester" column="semester"/>
        <result property="statu" column="statu"/>
        <result property="courseStatu" column="course_statu"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <association property="user" javaType="com.markerhub.entity.SysUser">
            <result property="id" column="userId"/>
            <result property="username" column="username"/>
        </association>
        <association property="classInfo" javaType="com.markerhub.entity.SysClassEntity">
            <result property="id" column="classId"/>
            <result property="code" column="classCode"/>
            <result property="name" column="className"/>
            <result property="statu" column="classStatu"/>
        </association>
        <association property="classroomInfo" javaType="com.markerhub.entity.SysClassroomEntity">
            <result property="id" column="classroomId"/>
            <result property="name" column="classroomName"/>
            <result property="code" column="classroomCode"/>
        </association>
    </resultMap>

    <select id="getAllCourse" resultMap="courseVOMap">
       select course.id, course.code ,course.name ,course.year,course.semester ,
        course.statu, course.course_statu,course.start_time,course.end_time,
        user.id userId,user.username username,
        class.id classId,class.code classCode ,class.name className, class.statu classStatu,
        classroom.id classroomId,classroom.name classroomName,classroom.code classroomCode
        from sys_course course
        inner join sys_user user on user.id=course.teacher_id
        inner join sys_class class on class.id =course.class_id
        left join sys_classroom classroom on classroom.id=course.classroom_id
        where course.name like concat('%',#{name},'%')
    </select>
    <select id="getTeacherCourseByUserId" resultMap="courseVOMap">
       select course.id, course.code ,course.name ,course.year,course.semester ,
        course.statu,  course.course_statu,course.start_time,course.end_time,
        user.id userId,user.username username,
        class.id classId,class.code classCode ,class.name className, class.statu classStatu,
         classroom.id classroomId,classroom.name classroomName,classroom.code classroomCode
        from sys_course course
        inner join sys_user user on user.id=course.teacher_id
        inner join sys_class class on class.id =course.class_id
        left join sys_classroom classroom on classroom.id=course.classroom_id
        where user.id=#{id} and course.name like concat('%',#{name},'%')
    </select>
    <select id="getCourseByUserId" resultMap="courseVOMap">
        select course.id, course.code ,course.name ,course.year,course.semester ,
        course.statu,  course.course_statu,course.start_time,course.end_time,
        user.id userId,user.username username,
        class.id classId,class.code classCode ,class.name className, class.statu classStatu,
         classroom.id classroomId,classroom.name classroomName,classroom.code classroomCode
        from sys_course course
        inner join sys_user user on user.id=course.teacher_id
        inner join sys_class class on class.id =course.class_id
        left join sys_classroom classroom on classroom.id=course.classroom_id
        where user.id=#{id} and course.statu=1 and course.course_statu in (0,3)
    </select>
    <select id="getCourseDetailById" resultMap="courseVOMap">
         select course.id, course.code ,course.name ,course.year,course.semester ,
        course.statu,  course.course_statu,course.start_time,course.end_time,
        user.id userId,user.username username,
        class.id classId,class.code classCode ,class.name className, class.statu classStatu,
         classroom.id classroomId,classroom.name classroomName,classroom.code classroomCode
        from sys_course course
        inner join sys_user user on user.id=course.teacher_id
        inner join sys_class class on class.id =course.class_id
        left join sys_classroom classroom on classroom.id=course.classroom_id
        where course.id=#{id}
    </select>


</mapper>