<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.markerhub.mapper.SysUserMapper">


    <resultMap id="userRole" type="com.markerhub.entity.SysUser">
        <result property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="avatar" column="avatar"/>
        <result property="city" column="city"/>
        <result property="email" column="email"/>
        <result property="password" column="password"/>
        <result property="lastLogin" column="last_login"/>
        <result property="created" column="created"/>
        <result property="updated" column="updated"/>
        <result property="statu" column="statu"/>
        <collection property="sysRoles" ofType="com.markerhub.entity.SysRole">
            <result column="role_id" property="id"/>
            <result column="role_code" property="code"/>
            <result column="role_name" property="name"/>
            <result column="role_statu" property="statu"/>
        </collection>
    </resultMap>
    <select id="getNavMenuIds" resultType="java.lang.Long">
        SELECT
            DISTINCT sm.id
        FROM
            sys_user_role ur
        LEFT JOIN sys_role_menu rm ON ur.role_id = rm.role_id
        LEFT JOIN sys_menu sm on sm.id=rm.menu_id
        WHERE ur.user_id = #{userId} and sm.statu=1

    </select>

    <select id="listByMenuId" resultType="com.markerhub.entity.SysUser">

        SELECT DISTINCT
            su.*
        FROM
            sys_user_role ur
        LEFT JOIN sys_role_menu rm ON ur.role_id = rm.role_id
        LEFT JOIN sys_user su ON ur.user_id = su.id
        WHERE
            rm.menu_id = #{menuId}
    </select>
    <select id="getNotBindUserList" resultType="com.markerhub.entity.SysUser">
        select id,username from sys_user user
        where id  not in (
        select user_id from sys_stu stu
        where stu.statu=1
        )
    </select>
    <select id="getAllManagers" resultType="com.markerhub.entity.SysUser">
        select user.id,user.username from sys_user user
        inner join sys_user_role ur on ur.user_id = user.id
        inner join sys_role role on role.id=ur.role_id
        where role.code='admin' and user.statu=1 and role.statu=1
    </select>
    <select id="getUserRoleByName" resultMap="userRole">
        select user.* ,role.id role_id ,role.code role_code ,role.name role_name
        from sys_user user
        inner join sys_user_role ur on ur.user_id=user.id
        inner join sys_role role on role.id=ur.role_id and role.statu=1
        where user.username=#{name}
    </select>
</mapper>
